h3{
    margin: 0;
}
#search-result-container{
    padding: 10px;
    margin-top: 1vw;
}

#search-result-container .loading{
    padding: 30px 0;
}

#search-result-container .no-results{
    padding: 30px 0;
    font-size: 1.5rem;
    color: #135D90;
}